<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista Centri</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="#" class="logo"><strong>Acme Formazione</strong> Acme
						Corporation</a>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1 th:text="${azienda.nome}"></h1>
					</header>

					<!-- Content -->


					<hr class="major" />

					<!-- Elements -->

					<div class="row gtr-200">
						<div class="col-6 col-12-medium">


							<!-- Lists -->

							<div class="row"></div>


							<!-- Table -->
							<h3>Centri</h3>


							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Nome</th>
											<th>Indirizzo</th>
											<th>Telefono</th>
											<th>Capienza</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="centro: ${listaCentri}">
											<td th:text="${centro.nome}"></td>
											<td th:text="${centro.indirizzo}"></td>
											<td th:text="${centro.telefono}"></td>
											<td th:text="${centro.capienzaMassima}"></td>
										</tr>

									</tbody>
								</table>
							</div>


						</div>
						<div class="col-6 col-12-medium"></div>
					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a th:href="@{/azienda/amministrazione}">Homepage</a></li>


						<li><form th:action="@{/logout}" method="post">
								<input type="submit" value="Esci" />
							</form></li>

					</ul>
				</nav>


			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>