<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Allievi Iscritti</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="#" class="logo"><strong>Acme Formazione</strong> Acme
						Corporation</a>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1>Report</h1>
					</header>

					<!-- Content -->


					<hr class="major" />

					<!-- Elements -->

					<div class="row gtr-200">
						<div class="col-6 col-12-medium">


							<!-- Lists -->
							<h3>Lista di Allievi</h3>
							<div class="row">
								<div class="table-wrapper">


									<table>
										<thead>
											<tr>
												<th>Codice Studente</th>
												<th>Nome</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="allievo : ${listaAllievi}">
												<td><span th:text="${allievo.codiceStudente}"></span></td>
												<td><a
													th:href="@{'/allievo/infoAllievo' + '/' + ${allievo.codiceStudente}}"><span
														th:text="${allievo.nome} + ' ' + ${allievo.cognome}"></span></a></td>
											</tr>
										</tbody>
									</table>


								</div>

							</div>
							<div class="row"></div>
						</div>
						<div class="col-6 col-12-medium"></div>
					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a th:href="@{/azienda/amministrazione}">Homepage</a></li>


						<li><form th:action="@{/logout}" method="post">
								<input type="submit" value="Esci" />
							</form></li>
					</ul>
				</nav>


			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>