<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Centro di Formazione</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="#" class="logo"><strong>Acme Formazione</strong> Acme Corporation</a>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1 th:text="${centro.nome}"></h1>
					</header>

					<!-- Content -->


					<hr class="major" />

					<!-- Elements -->

					<div class="row gtr-200">
						<div class="col-6 col-12-medium">


							<!-- Lists -->

							<div class="row"></div>

							<!-- Blockquote -->
							<h3>Informazioni riguardo il Centro</h3>
							<blockquote>E' un centro nato nel 1992, nel centro
								di Roma , fu instituito recuperando aree industriali degradate o
								abbandonate, attuando cosi una riqualificazione urbana.</blockquote>
							<!-- Table -->
							<h4>Informazioni del Centro</h4>
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Name</th>
											<th>Indirizzo</th>
											<th>Telefono</th>
											<th>Responsabile</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${centro.nome}"></td>
											<td th:text="${centro.indirizzo}"></td>
											<td th:text="${centro.telefono}"></td>
											<td th:text="${responsabile.nome}"></td>
										</tr>

									</tbody>
								</table>
							</div>
							<h4>Lista della Attivita offerte dal Centro</h4>
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Name</th>
											<th>Data di svolgimento</th>
											<th>Ora di Inizio</th>
											<th>Tipologia</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="attivita : ${listaAttivita}">
										 <td>
												<a th:href = "@{'/infoAttivita' + '/' + ${attivita.nome}}" th:text="${attivita.nome}"></a>
											</td>
											<td th:text="${attivita.data}"></td>
											<td th:text="${attivita.oraInizio}"></td>
											<td th:text="${attivita.tipologia}"></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
						<div class="col-6 col-12-medium">

							<!-- Buttons -->

							<ul class="actions">
								<li><a th:href="@{/addAllievo}" class="button large">Aggiungi Allievo</a></li>
								<li><a th:href="@{/delAllievo}" class="button large">Disiscrivi Allievo</a></li>
								<li><a th:href="@{/addAttivita}" class="button large">Aggiungi attivita</a></li>
							</ul>

						</div>
					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="#">Homepage</a></li>

						
						
						<li><form th:action="@{/logout}" method="post">
									<input type="submit" value="Esci" />
							</form>
						</li>
					</ul>	
							
				</nav>

			</div>

		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
