<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Iscrizione Allievo</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->

				<header id="header">
					<a href="#" class="logo"><strong>Acme Formazione</strong> Acme
						Corporation</a>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1>Registrazione Allievo</h1>
					</header>



					<hr class="major" />

					<!-- Elements -->

					<div class="row gtr-200">

						<div class="col-6 col-12-medium">



							<!-- Form -->
							<h3>Inserisci i dati del nuovo allievo</h3>
							<p th:text="${exists}"></p>

							<form th:action="@{/allievo}" method="POST"
								th:object="${allievo}">
								<div class="row gtr-uniform">

									<div class="col-6 col-12-xsmall">
										<input type="text" th:field="*{nome}" placeholder="Nome" />
										<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
									</div>

									<div class="col-6 col-12-xsmall">
										<input type="text" th:field="*{cognome}" placeholder="Cognome" />
										<p th:if="${#fields.hasErrors('cognome')}"
											th:errors="*{cognome}"></p>
									</div>

									<div class="col-6 col-12-xsmall">
										<input type="email" th:field="*{email}" placeholder="Email" />
										<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
									</div>

									<div class="col-6 col-12-xsmall">
										<input type="text" th:field="*{telefono}"
											placeholder="Numero di Telefono" />
										<p th:if="${#fields.hasErrors('telefono')}"
											th:errors="*{telefono}"></p>
									</div>

									<div class="col-6 col-12-xsmall">
										<input type="date" th:field="*{dataNascita}"
											placeholder="Data di Nascita" />
										<p th:if="${#fields.hasErrors('dataNascita')}"
											th:errors="*{dataNascita}"></p>
									</div>

									<div class="col-6 col-12-xsmall">
										<input type="text" th:field="*{luogoNascita}"
											placeholder="Luogo di Nascita" />
										<p th:if="${#fields.hasErrors('luogoNascita')}"
											th:errors="*{luogoNascita}"></p>
									</div>




									<!-- Break -->
									<div class="col-12">
										<select name="sesso" id="demo-category">
											<option value="MASCHIO">Maschio</option>
											<option value="FEMMINA">Femmina</option>
										</select>
									</div>
									<!-- Break -->
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Submit" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>

						</div>
					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a th:href="@{'/centro' + '/' + ${centro.id}}">Homepage</a></li>

						<li><span class="opener">Allievo</span>
							<ul>
								<li><a href="#">add Allievo</a></li>
								<li><a href="#">delete Allievo</a></li>
								<li><a href="#">scegli Allievo</a></li>
								<li><a href="#">info Allievo</a></li>
							</ul></li>
						<li><span class="opener">Atività</span>
							<ul>
								<li><a href="#">new Attività</a></li>
								<li><a href="#">info Attività</a></li>
								<li><a href="#">mostra Allievi</a></li>
							</ul></li>
						<li><form th:action="@{/logout}" method="post">
								<input type="submit" value="Esci" />
							</form></li>
					</ul>
				</nav>


			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>