<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Rimozione allievo da attività</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="#" class="logo"><strong>Acme Formazione</strong> Acme
						Corporation</a>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1>Cerca l'allievo da disiscrivere da una attività</h1>
					</header>

					<!-- Content -->


					<hr class="major" />

					<!-- Elements -->

					<div class="row gtr-200">
						<div class="col-6 col-12-medium">


							<!-- Lists -->

							<div class="row"></div>

							<!-- Blockquote -->
							<h3>Analysis</h3>
							<blockquote>Si sta disiscrivendo un allievo da una
								delle attivita a cui è iscritto</blockquote>

							<!--Search bar-->
							<form id="search" class="alt" th:action="@{/allievo/cerca}"
								th:object="${allievo}" method="post">
								<p>
									<input placeholder="Nome dello studente" type="text"
										th:field="*{nome}" />
								</p>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Cerca Allievo"
											class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</form>
						</div>


						<!-- Lists -->
						<h3>Allievi trovati</h3>
						<div class="row">
							<div class="table-wrapper">


								<table>
									<thead>
										<tr>
											<th>Codice Studente</th>
											<th>Nome</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="allievo : ${listaAllievi}">
											<td><span th:text="${allievo.codiceStudente}"></span></td>
											<td><a
												th:href="@{'/attivita/scegliAttivita' + '/' + ${allievo.codiceStudente}}"><span
													th:text="${allievo.nome} + ' ' + ${allievo.cognome}"></span></a></td>
										</tr>
									</tbody>
								</table>


							</div>

						</div>

					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a th:href="@{'/centro' + '/' + ${centro.id}}">Homepage</a></li>

						<li><span class="opener">Allievo</span>
							<ul>
								<li><a href="#">add Allievo</a></li>
								<li><a href="#">delete Allievo</a></li>
								<li><a href="#">scegli Allievo</a></li>
								<li><a href="#">info Allievo</a></li>
							</ul></li>
						<li><span class="opener">Atività</span>
							<ul>
								<li><a href="#">new Attività</a></li>
								<li><a href="#">info Attività</a></li>
								<li><a href="#">mostra Allievi</a></li>
							</ul></li>
						<li><form th:action="@{/logout}" method="post">
								<input type="submit" value="Esci" />
							</form></li>
					</ul>
				</nav>


			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
