<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Oops!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Non hai i permessi per accedere a questa pagina</h2>
	Clicca
	<a th:href="@{/login}"> Qui </a> per ripetere il login
</body>
</html>