<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Info Attivita</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="#" class="logo"><strong>Acme Formazione</strong> Acme
						Corporation</a>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1>Informazioni Attività</h1>
					</header>

					<div class="row gtr-200">
						<div class="col-6 col-12-medium">


							<!-- Table -->
							<h3>Attività</h3>


							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Nome</th>
											<th>Descrizione</th>
											<th>Tipologia</th>
											<th>Data</th>
											<th>Ora Inizio</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td th:text="${attivita.nome}"></td>
											<td th:text="${attivita.descrizione}"></td>
											<td th:text="${attivita.tipologia}"></td>
											<td th:text="${attivita.data}"></td>
											<td th:text="${attivita.oraInizio}"></td>
										</tr>

									</tbody>

								</table>
							</div>
						</div>
						<div class="col-6 col-12-medium">

							<!-- Buttons -->

							<ul class="actions">
								<li><a th:href="@{/scegliAllievoController}"
									class="button large">Aggiungi Allievo</a></li>

							</ul>

						</div>
					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a th:href="@{'/centro' + '/' + ${centro.id}}">Homepage</a></li>

						<li><span class="opener">Allievo</span>
							<ul>
								<li><a href="#">add Allievo</a></li>
								<li><a href="#">delete Allievo</a></li>
								<li><a href="#">scegli Allievo</a></li>
								<li><a href="#">info Allievo</a></li>
							</ul></li>

						<li><span class="opener">Attività</span>
							<ul>
								<li><a href="#">new Attività</a></li>
								<li><a href="#">mostra Attività</a></li>
								<li><a href="#">mostra Allievi</a></li>

							</ul></li>
						<li><form th:action="@{/logout}" method="post">
								<input type="submit" value="Esci" />
							</form></li>

					</ul>
				</nav>


			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
