<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Nuova Attività</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="#" class="logo"><strong>Acme Formazione</strong> Acme
						Corporation</a>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1>Aggiungi Attività</h1>
					</header>
					<div class="col-6 col-12-medium">

						<!-- Form -->
						<h3>Inserisci i dati della nuova Attività</h3>
						<p th:text="${exists}"></p>
						<form th:action="@{/attivita}" method="POST"
							th:object="${attivita}">
							<div class="row gtr-uniform">
								<div class="col-6 col-12-xsmall">
									<input type="text" th:field="*{nome}" placeholder="Nome" />
									<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
								</div>
								<div class="col-6 col-12-xsmall">
									<input type="date" th:field="*{data}"
										placeholder="Data di Nascita" />
									<p th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></p>
								</div>
								<div class="col-6 col-12-xsmall">
									<input type="time" th:field="*{oraInizio}"
										placeholder="Ora di Inizio" />
									<p th:if="${#fields.hasErrors('oraInizio')}"
										th:errors="*{oraInizio}"></p>
								</div>



								<!-- Break -->
								<div class="col-12">
									<select name="tipologia" id="demo-category">
										<option value="">- Category -</option>
										<option value="MATEMATICA">Matematica</option>
										<option value="SCIENZE">Scienze</option>
										<option value="ITALIANO">Italiano</option>
										<option value="INGLESE">Inglese</option>
										<option value="SPAGNOLO">Spagnolo</option>
										<option value="FILOSOFIA">Filosofia</option>
										<option value="INFORMATICA">Informatica</option>
									</select>
								</div>

								<!-- Break -->
								<div class="col-12">
									<textarea name="descrizione" id="demo-message"
										placeholder="Inserisci una descrizione dell'Attività" rows="6"></textarea>
								</div>
								<!-- Break -->
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Submit" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						</form>


					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">



				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a th:href="@{'/centro' + '/' + ${centro.id}}">Homepage</a></li>

						<li><form th:action="@{/logout}" method="post">
								<input type="submit" value="Esci" />
							</form></li>
					</ul>
				</nav>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>